
<html>
<head>
	<title>TEST</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="test.css">
	
</head>
<body>
	<div id="no1">
		<p><span>A</span>Aellllll text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. Thihis is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. Thihis is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. Thihis is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. Thihis is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is some text. This is some text.
This is some text. This is som你好啊</p>
		<div class="inner" id="no21">
			<img id="31"  src="1.jpg">
			
			<img id="no32" src="3.jpg">
			
		</div>
		<div class="inner" id="no22">
			<img src="2.jpg">
		</div>
		<ul class="disc">
			<li>咖啡</li>
			<li>茶</li>
			<li>可口可乐</li>
		</ul>
		<ul class="circle">
			<li>咖啡</li>
			<li>茶</li>
			<li>可口可乐</li>
		</ul>
		<ul class="square">
			<li>咖啡</li>
			<li>茶</li>
			<li>可口可乐</li>
		</ul>
		<ul class="none">
			<li>咖啡</li>
			<li>茶</li>
			<li>可口可乐</li>
		</ul>
		
	</div>
</body>
</html>