{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'fetchQzone/top_search.css' %}">

   <h4>&nbsp;&nbsp;<a href="?user={{params.user}}">{{params.user_nick}}</a>
            共同好友：<br></h4>
            {%for qq,nick in comfri %}
               &nbsp;&nbsp;&nbsp;&nbsp; <a href="/fetchQzone?user={{qq}}&">{{nick|default:qq}}</a>&nbsp;&nbsp;<BR>
            <!--http://user.qzone.qq.com/{{qq}}-->
                {% if forloop.counter|divisibleby:"5" %}
                    <br><br>
                {% endif %}
                <br>
            {% empty %}
    <div id="headtitle">木有共同好友~~/(ㄒoㄒ)/~~*^_^* ……  *^_^*</div>
            {% endfor %}
            